body{
	font-family: 'Lato', sans-serif;
}
/* ----------------- Navigation bar -------------*/
.sticky-header .container-fluid{
	position: fixed;
	top:0px;
	z-index: 2; /* For not overlapped by content */
}
.sticky-header .row{
	background-color: #89eaf1;
	margin-left: 0px;
	margin-right: 0px;
	line-height: 40px;
	border-radius: 3px;
	padding: 5px;
	text-align: center;
}
.sticky-header input{
}

#applyFilterBTN, #searchBTN{
	margin-left: 1.5em;
}
.search-message-row{
	visibility: hidden; 
}
.search-message-row.in-search {
	visibility: visible;
}
#search-message,
#sorry-message{
	text-align: left;
	padding-left: 2em;
}
/* ---------------- Navigation bar end ----------*/
.wrapper {
	display: flex;
	width: 100%;
}
/* ------------------  Side bar ------------------ */
.sidebar-container{
	max-width: 25vw;
	min-width: 25vw;
	margin-right: 1em;
	margin-left: 0px;
	position: sticky;
	top: 55px;
	align-self: flex-start;
	max-height: calc(100vh - 55px);
	overflow-y: auto;
}
.sidebar-container.in-search{
	max-width: 25vw;
	min-width: 25vw;
	margin-right: 1em;
	margin-left: 0px;
	position: sticky;
	top: 105px;
	align-self: flex-start;
	max-height: calc(100vh - 105px);
	overflow-y: auto;
}

.sidebar {
	min-width: 100%;
	max-width: 100%;
	background-color: #F6F5F4;
	border-radius: 5px;
	/*margin-left:-25vw;*/
}
.sidebar-container.active{
	margin-left: -26vw;
}
/* Side bar header */
.sidebar-header{
	width:100%;
	font-size:2em;
	padding:10px 15px 0px;
	margin-bottom: 15px;
}
.sidebar-header > .fa{
	font-size: .9em;
}
/* Side bar header end */

/* Side bar content */
.sidebar-content, {
	color: #1F3447;
}
.sidebar-content a{
	color: #1F3447;
}
.sidebar-content button a{
	z-index: 10;
}
.sidebar-content .btn{
	width: 100%;
	text-align: left;
	background-color: #F6F5F4;	
	height: 40px;
	font-size:1.2em;
  position: relative;
}
.sidebar-content .btn:hover{
	background-color: #DAD6D2;
}
.sidebar-content .btn-active, .sidebar-content .btn:active{
	box-shadow: none;
}
.sidebar ul{
  list-style-type: none;
}
.principle .fa{
  position: absolute;
  font-size:0.8em;
  top:35%;
  right:0%;
  margin-right:15px;
}
/* Side bar content */

/* ------------------ Side bar end ------------------ */



/* ------------------ Main content ----------------- */

.main-content-container{
	max-width:73.8vw;
	margin-right: 0px;
	margin-left: 0px;
	margin-top: 55px;
	/*height:3000px; 			 For sticky demonstration, should reomove it at the end */
	/*position: sticky;*/
	/*position: relative;*/
	/*top: 80px;*/
	align-self: flex-start;
}
.main-content-container.in-search{
	max-width:73.8vw;
	margin-right: 0px;
	margin-left: 0px;
	margin-top: 105px;
	/*height:3000px; 			 For sticky demonstration, should reomove it at the end */
	/*position: sticky;*/
	/*position: relative;*/
	/*top: 80px;*/
	align-self: flex-start;
}
.main-content-container.active{
	max-width:100vw;
	margin-right: 0px;
	margin-left: 0px;
	margin-top: 55px;
	/*height:3000px; 			 For sticky demonstration, should reomove it at the end */
	/*position: sticky;*/
	/*position: relative;*/
	/*top: 80px;*/
	align-self: flex-start;
}
.main-content{
	width:100%;
}
.main-content h1{
	text-align: left
}

:target::before { /* This is padding for the sticky header when clicking links */
  content: "";
  display: block;
  height: 60px; /* fixed header height*/
  margin: -60px 0 0; /* negative fixed header height */
}

.main-content .back-to-top-btn{
	position: fixed;
	bottom: 1%;
	right: 1%;
	z-index: 10;
}

.principle-header{
	color: #fff;
	background-color: #17a2b8;
	padding: 10px;
	border-radius: 3px;
	margin-top:0.6em;
}
.perceivable-content,
.operable-content,
.understandable-content,
.robust-content{
	padding:0px 20px 0px 35px;
}
.guideline-header{
	margin-top:20px;
}
.guideline-content{
	padding-left: 40px;
}
.inspection-collapse .btn, .evaluation-collapse .btn{
	background-color: #e3e0dd;
	color: #000;
	margin-top:8px;
	margin-bottom: 8px;
	min-width: 275px;
	text-align: left;
}
div .author-note-header{
	margin-top: 1em;
}
h5.author-note-header,
.evaluation-detail h5.card-title,
.inspection-detail h5.card-title{
	text-decoration: underline;
	text-decoration-thickness: 0.04em;
	text-underline-position: under;
}
.card-text img{
	width: 85%;
	height: auto;
	max-height: 95vh;
	margin-bottom: 1em;
}
.card-text pre{
	width: 85%;
}
.card-text p{
	margin-bottom:0.2em;
}
/* -------- For Filter purpose ------------- */
.div-to-filter-out.filter-out{
	position: absolute;
	visibility: hidden;
}
.criteria-content h4.filter-out{
	color: #d1ccc7;
}

.evaluation-collapse.filter-out,
.evaluation-content.filter-out,
.inspection-collapse.filter-out,
.inspection-content.filter-out{
	position: absolute;
	visibility: hidden;
}
/* -------- Filter end --------------------- */
/* Main content end */

